<div *ngIf="item" #editForm>

    <form [formGroup]="itemForm">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="id">ID</label>
            <div class="col-sm-9">
                <input readonly type="text" formControlName="id" class="form-control" id="id" placeholder="ID">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="docCode">Код документа</label>
            <div class="col-sm-9">
                <input readonly type="text" formControlName="docCode" class="form-control" id="docCode" placeholder="Код документа">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="docDate">Дата</label>
            <div class="col-sm-9">
                <input type="text" formControlName="docDate" class="form-control" id="docDate" placeholder="Дата">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="docName">Наименование</label>
            <div class="col-sm-9">
                <input type="text" style="font-weight: bold;" formControlName="docName" class="form-control" id="docName" placeholder="Наименование документа">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="docType">Тип документа</label>
            <div class="col-sm-9">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="docType">
                    <option value="request">Запрос</option>
                    <option value="certificate">Сертификат</option>
                  </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="address">Адрес</label>
            <div class="col-sm-9">
                <input type="text" formControlName="address" class="form-control" id="address" placeholder="Адрес">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="status">Статус</label>
            <div class="col-sm-9">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="status">
                    <option value="registred">Зарегестрирован</option>
                    <option value="accepted">Принят</option>
                  </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="isSpecial">Специальный?</label>
            <div class="col-sm-9">
                <input type="checkbox" formControlName="isSpecial" class="form-check-label" id="isSpecial">
            </div>
        </div>

        <div [hidden]="hasAuthor">
            <button type="button" class="btn btn-outline-info mb-3" (click)="addAuthor()">Добавить автора</button>
        </div>

        <div *ngIf="hasAuthor" formGroupName="author">
            <h4>Автор:</h4>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="account">Аккаунт</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="account" class="form-control" id="account" placeholder="Аккаунт">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="fio">ФИО</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="fio" class="form-control" id="fio" placeholder="ФИО">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="post">Должность</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="post" class="form-control" id="post" placeholder="Должность">
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Отмена</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" type="submit" [disabled]="itemForm.invalid" (click)="save()">Сохранить</button>
        </div>

    </form>

</div>